.buttonn{
    -fx-background-color: #7bbdff;
    -fx-background-radius:30 0 0 30;
/*     -fx-margin:10% 0%; */
}

.buttonn:hover{
    -fx-background-color: #77b0e9;
}

.buttonn:pressed{
    -fx-background-color: #4092e4;
}

.vboxx{
    -fx-background-color: #7bbdff;
/*     -fx-spacing: 20%;   */
}

.loginB{
    -fx-background-color: #61a5e9;
}

.loginP{
    -fx-background-color: #7bbdff;
}


