body{
    background-color: #5cb85c;
}

a{
    text-decoration: none;
    color: white;
}

li a{
    color: #5cb85c ;
}
#centro{
    background-color: whitesmoke;
    height: 100%;
    margin: auto;
    clear: both;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col{
    background-color: black;
    height: 100%;
}

h1 {
    margin-top: 2rem;
}

#textHome {
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

#urbanVideoFrame{
    height: 100%;
    width: 100%;
    margin-top: 4rem;
}

#bikeImage{
    margin-top: 2rem;
}

.transportImg{
    margin: auto;
    height: 100%;
    width: 100%;
}

.bookImg{
    margin: auto;
    height: 50%;
    width: 100%;
}

#carsImg{
    margin-bottom: 2rem;
    height: 40rem;
}


#litAlbum{
    background-color: white;
}