body {
    background-color: rgba(229, 205, 245, 0.4);
}

.container-fluid {
    background-color: #5e4384;
}
.bt{
    background-color: #5e4384;
    color: white;
    border-radius: 18%;
    border-color: #5e4384;
}
a{
    text-decoration: none;
    color: white;
}
fieldset.border.p4 {
    padding: 10px;
}